    .decision-body p,
    .NB {
        letter-spacing: 1px;
        line-height: 2;
        font-weight: 500;
    }

    .decision-footer p {
        font-size: 16px;
    }

    @media print {
        body * {
            visibility: hidden;
        }

        .content,
        .content * {
            visibility: visible;
        }

        .content {
            position: absolute;
            left: 0;
            top: 0;
        }

        .content {
            width: 100%;
        }

        .decesion-head-top {
            text-align: center;
        }

        .decesion-head-top img {
            max-height: 100px;
            width: auto;
        }

        .decision-body {
            margin-top: 30px;
        }

        .decision-body h2 {
            font-size: 24px;
            text-align: center;
        }

        .decision-body ul {
            list-style-type: none;
            padding-left: 0;
        }

        .decision-body h5 {
            font-size: 16px;
            margin-top: 15px;
        }

        .decision-body .table th,
        .decision-body .table td {
            font-size: 14px;
            padding: 5px 10px;
        }

        .decision-footer {
            width: 100%;
            margin-top: 30px;
            padding-top: 10px;
        }

        .decision-footer h5 {
            font-size: 14px;
            text-align: center;
            margin-left: 10px;
        }

        .decision-footer h6 {
            font-size: 12px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
